.saved {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}
.saved.empty {
  text-align: center;
}
.saved-items {
  margin-top: 2rem;
}
.saved p {
  color: #cacaca;
}
.saved-item {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  background: #F5F5DC;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid #8B4513;
}
.saved-item img {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}
.details {
  flex: 1;
}
.details h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}
.mod-info, .type-info {
  margin: 0;
  font-size: 0.95rem;
  color: #555;
}

.remove-btn {
  margin-left: auto;
  border: none;
  background: transparent;
  color: #c82333;
  padding: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.remove-btn:hover {
  color: #a71d2a;
  transform: translateY(-1px);
}
.remove-btn-icon {
  font-size: 1.6rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #a70f0f;
  padding: 6px;
}
.remove-btn-icon:hover {
  color: #820b0b;
  transform: translateY(-2px);
}

.saved-summary {
  margin-top: 30px;
  text-align: center;
  padding: 1rem;
  border-radius: 4px;
  background-image: url(/src/images/sign.png);
  width: 48.6%;
  margin-left: auto;
  margin-right: auto;
}
.saved h2 {
  color: #fff;
}
.saved-summary h3 {
  color: #fff;
  margin-bottom: 1rem;
}
.saved-summary p {
  color: #cacaca;
  font-style: italic;
}
@media (max-width: 768px) {
    .saved-item {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 18px;
    background: #F5F5DC;
    padding: 0.9rem 1.3rem;
    border-radius: 8px;
    border: 2px solid #8B4513;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  }

  .saved-image-frame {
    width: 140px;
    height: 140px;
    background-color: #A45630;
    border: 10px solid #E6D299;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .saved-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .saved-details h3 {
    margin: 0;
    color: #333;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .saved-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
}

/* button to browse gallery if there is nothing in saved */
.btn.back-btn {
  padding: 0.6rem 1.2rem;
  background-color: #8B4513;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
}

.btn.back-btn:hover {
  background-color: #A0522D;
}