.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 1rem 2rem;
  font-family: "Courier New", Monaco, monospace
}

.logo {
  font-size: 1.5rem;
  color: white;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}


nav {
  display: flex;
  align-items: center;
}