/* global */
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f5f5dc;
  color: #333;
  background-image: url('images/spruce_stripped_log_back_by_blackspl_dgpfa48-pre.jpg');
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 1rem 0;
}